
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>MAPLE - Muramoto Audio-Visual Philippines, Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/logo.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="index.phtml">Andia - a super cool design agency...</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="index.phtml"><i class="icon-home"></i><br />Home</a>
                                    </li>
                                     <li class="current-page">
                                        <a href="about.phtml"><i class="icon-user"></i><br />About</a>
                                    </li>
                                    <li>
                                        <a href="portfolio.phtml"><i class="icon-camera"></i><br />Systems</a>
                                    </li>
                                    <li>
                                        <a href="links.phtml"><i class="icon-envelope-alt"></i><br />Links</a>
                                    </li>
                                    <li>
                                        <a href="contact.phtml"><i class="icon-envelope-alt"></i><br />Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>About Us /</h2>
                        <p>Below you can find more information about Muramoto Audio-Visual Philippines, Inc.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text 
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                    <h4>About MAPLE</h4>
                    <p><strong><span class="violet">Muramoto Audio-Visual Philippines, Incorporated (MAPLE)</span></strong> is one of the manufacturing facilities of the <em><b>Muramoto Group of Companies</b></em>. Muramoto Group is trusted as the primary source of audio-visual mechanisms for automotives and general devices serving major Japanese, American, and European companies. Our Group operates in 10 countries in Asia, North America, and Europe employing more than 10,000 professionals.</p>
                    <h4>Our Mission</h4>
                    <p><ul>
			&emsp; <li class="icon-check" >We are an International Manufacturing Company.</li>
                        &emsp; <li class="icon-check" >We must develop our business worldwide.</li>
			&emsp; <li class="icon-check" >We  must focus in contributing globally by pursuing the development of parts processing and assembling technologies.</li>
			&emsp; <li class="icon-check" >We must pursue the leading position in the electronic parts processing and assembly industry and accomplish our contributions to the society.</li>
                    </ul></p>
                    <h4>Why Choose Us</h4>
                    <p><em>Will be updated soon...</em></p>
                </div>
            </div>
        </div> -->
        
        <div class="portfolio portfolio-page container">
            <div class="row">
                <div class="portfolio-navigator span12">
                    <h4 class="filter-portfolio">
                        <a class="all" id="active-imgs" href="#">All</a> &emsp;-&emsp;
                        <a class="history" id="" href="#">HISTORY</a>&emsp;-&emsp;
                        <a class="groups" id="" href="#">GROUP OF COMPANIES</a>&emsp;-&emsp;
                        <a class="spirit" id="" href="#">CORPORATE SPIRIT</a>&emsp;-&emsp;
			<a class="presence" id="" href="#">PRESENCE IN ASIA</a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="portfolio-img">
                    <li data-id="p-1" data-type="history" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work1.jpg" rel="prettyPhoto">
                                <img src="assets/img/maple_logo.png" alt="">
                            </a>
                            <h4>The Beginning of Muramoto</h4>
                            <p style="font-size: 13px">The success story of the Muramoto corporation started humbly with a single, simple press machine. <br /><br />
                               The year was 1935, Japan was in a turbulent period. Amidst the hard times, Itaro Muramoto built
                               the foundation of a successful company in Hyogo-Ku, Kobe Japan.<br />He took orders from custormers,
                               promising them: "if it can be produced using a press machine, I'll make it for you." He labored
                               day and night to keep his word.<br />And his business with press machine thrived. </p><br />
                            <p style="font-size: 13px">The business grew steadily.<br />And the orders from customers grew as well. But no matter how many
                               the orders were and how difficult it was to keep up,<br />Muramoto strictly honored the deadlines.<br /> 
                               Eccentric Press It was his great passion and enthusiasm in his work that won him the trust and
                               support of his customers.</p><br />
                            <p style="font-size: 13px">The war forced Muramoto to move to Tarumi-ku, Kobe. They survived the war and the chaos that followed it.<br />
                               And in 1952, Muramoto began producing chasis for car radios and TV parts. In 1958 electronic components
                               were added to the product line.<br />The firm foundation that Muramoto built enabled the company to grow and
                               eventually achieve its present status.<br />Today, the passionate will that the original press machine first
                               inspired Itaro Muramoto still endures.</p>
                        </div>
                    </li>
                    <li data-id="p-2" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work2.jpg" rel="prettyPhoto">
                                <img src="assets/img/mpt.jpg" alt="">
                            </a>
                            <h4>Mactan Parts Technology (MPT)</h4>
                            <p style="font-size: 13px">Mactan Parts Technology was established on October 7, 1993. It has a capital of 144 million pesos. </p><br />
                            <p style="font-size: 13px">Former MAPLE president Shiro Muramoto now administers for MPT. <br >Business lines of MPT include: Manufacturing
                                of metal components for car stereo decks, other audio-visual equipment components and computer components </p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>Mactan export Processing Zone, Lapu-Lapu City Cebu, Philippines.<br>
                                <i class="icon-phone"></i>Tel. (032) 346-2004.</p>
                        </div>
                    </li>
                    <li data-id="p-3" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>Muramoto Electron Public Company, LTD. (METCO)</h4>
                            <p style="font-size: 13px">METCO is listed on the stock exchange of Thailand. It was established on June 24, 1987. It has a capital of 200 million baht.</p><br />
                            <p style="font-size: 13px">METCO is headed by President Kohei Muramoto. <br >Business lines include: Manufacturing of metal components for front loading VTR mechanisms and CRTs, 
                                Manufacturing of electronic typewriters,
                                assembly of VTR chassis, <br>
                                design and manufacturing of pressed metal molds 
                                processing and manufacture of external components </p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>85 Mu Ramindhra Road, Kannayao, Bangkapi, Bangkok 10230, Thailand. 
                                <br><i class="icon-phone"></i>Tel.(02) 518-1280<br>
                               <i class="icon-map-marker"></i>1 Mu 6 Bangsoawthong, Banga-Trad 25 th KM, Bangplee, Samutparakarn, 10540, Thailand.<br>
                                <i class="icon-phone"></i>Tel. (02) 338-1535.</p>
                        </div>
                    </li>
                    <li data-id="p-4" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>PT Muramoto Elektronika Indonesia (MEI)</h4>
                            <p style="font-size: 13px">Established: September 30, 1993 Provisional Funding: 10 million US dollars </p><br />
                            <p style="font-size: 13px">President: Shingo Muramoto  <br >Business linesinclude: Manufacturing of front loading mechanisms
                                and assembly VTR chassis </p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>The East Jakarta Industrial Park, Bekasi, Jawa Barat, Indonesia.</p>
                        </div>
                    </li>
                    <li data-id="p-5" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>Muramoto Asia PTE, LTD (MAP)</h4>
                            <p style="font-size: 13px">Established: December 12, 1990 <br>Capital: 825000 Singapore dollars</p><br />
                            <p style="font-size: 13px">President: Shingo Muramoto <br >Business lines include: Distribution of
                                products (mainly to Singapore & Malaysia) marketing of front loading VTR mechanisms and components for CD players </p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>16 Raffles Quay #15-0 Hong Leong Building Singapore 0104<br>
                                <i class="icon-phone"></i>Tel. 221-2500.</p>
                        </div>
                    </li>
                    <li data-id="p-6" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>Muramoto Techniques Malaysia (MTM)</h4>
                            <p style="font-size: 13px">President: Shingo Muramoto</p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>N/A<br>
                                <i class="icon-phone"></i>N/A</p>
                        </div>
                    </li>
                    <li data-id="p-7" data-type="groups" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>Muramoto Industry Corporation, LTD (MIC)</h4>
                            <p style="font-size: 13px">Founded: May 1, 1935 <br> Established: October 1, 1958 <br> Capital: 80 million yen </p><br />
                            <p style="font-size: 13px">CEO: Keisuke Muramoto <br >Business lines of MPT include: Manufacturing of pressed metal parts,
                                Manufacturing of assembly of car stereo components,<br>
                                Manufacturing of front loading mechanisms for VTRs,
                                Manufacturing of metal parts for CRTs, <br>
                                Manufacturing and assembly of components for 8mm and VHS-C cassettes,
                                Design and Manufacturing of metal molds </p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>Business Offices:
                                <br>Head Office
                                <br>Seishin Distribution Center
                                <br>Training Center</p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>Factories:
                                <br>Seishin No.1 Factory
                                <br>Seishin No.2 Factory
                                <br>Ono Factory
                                <br>Kakogawa Factory</p><br />
                            <p style="font-size: 13px"><i class="icon-map-marker"></i>3-1-3 Takatsukadai, Nishi-ku, Kobe 651-22.<br>
                                <i class="icon-phone"></i>Tel. (078) 991-1600.</p>
                        </div>
                    </li>
                    <li data-id="p-8" data-type="spirit" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work.jpg" rel="prettyPhoto">
                                <img src="assets/img/portfolio/work.jpg" alt="">
                            </a>
                            <h4>Corporate Spirit</h4>
                            <div class="row" style="margin-left: auto;
                                                    margin-right: auto;
                                                    width: 80%;">
                                <div class="service span3">
                                    <div class="icon-awesome">
                                        <i class="icon-eye-open"></i>
                                    </div>
                                    <h4>Creation <br /><i>Spirit</i></h4>
                                    <p>We open our eyes to the needs of a new society so
                                                        that we may be able to satisfy them as well as to
                                                        satisfy our own need to create.</p>
                                </div>
                                <div class="service span3">
                                    <div class="icon-awesome">
                                        <i class="icon-group"></i>
                                    </div>
                                    <h4>Power <br /><i>of Togetherness</i></h4>
                                    <p>We harness each person's power to act and to
                                                        be creative so that together we will continue
                                                        to exist and to grow as a company.</p>
                                </div>
                                <div class="service span3">
                                    <div class="icon-awesome">
                                        <i class="icon-globe"></i>
                                    </div>
                                    <h4>Harmony <br /><i>within the Company</i></h4>
                                    <p>We strive to maintain harmony within our
                                                        company so that we may be able to act together
                                                        swiftly and more reliably. </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-id="p-9" data-type="presence" class="span12">
                        <div class="work">
                            <a href="assets/img/portfolio/work9.jpg" rel="prettyPhoto">
                                <img src="assets/img/groups.jpg" alt="">
                            </a>
                            <h4>PRESENCE ALL OVER THE WORLD</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Meet Our Team -->
        <div class="team container">
            <div class="team-title">
                <h3>Meet Our Teams</h3>
            </div>
            <div class="row">
                <div class="team-text span3">
                    <img src="assets/img/team/infosys1.gif" alt="">
                    <h4>Information System</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="social-links">
                        <a class="email" href=""></a> is@maple.muramoto.com
                    </div>
                </div>
                <div class="team-text span3">
                    <img src="assets/img/team/genaff.gif" alt="">
                    <h4>General Affairs</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
                <div class="team-text span3">
                    <img src="assets/img/team/finance.gif" alt="">
                    <h4>Finance Affairs</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
                <div class="team-text span3">
                    <img src="assets/img/team/impex.png" alt="">
                    <h4>IMPEX</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/sales.png" alt="">
                    <h4>Sales & Marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/purchase.jpg" alt="">
                    <h4>Purchasing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/prodman.png" alt="">
                    <h4>Production Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/manufacturing.jpg" alt="">
                    <h4>Manufacturing Departments</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/qa.jpg" alt="">
                    <h4>Quality Assurance</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/qualityassurance.jpg" alt="">
                    <h4>EHS/Facility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/peng.jpg" alt="">
                    <h4>Production Engineering</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
				<div class="team-text span3">
                    <img src="assets/img/team/rd.jpg" alt="">
                    <h4>Reasearch & Development</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
                    <div class="social-links">
                        <a class="email" href=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials container">
            <div class="testimonials-title">
                <h3>End</h3>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="widget span5">
                        <h4>About Us</h4>
                        <p style="text-align:justify;">Muramoto Audio-Visual Philippines, Incorporated (MAPLE) is one of the manufacturing facilities
						of the Muramoto Group of Companies. Muramoto Group is trusted as the primary source of audio-visual
						mechanisms for automotives and general devices serving major Japanese, American, and European
						companies. Our Group operates in 10 countries in Asia, North America, and Europe employing more
						than 10,000 professionals.</p>
                    </div>
                    <div class="widget span1">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="widget span5">
                        <h4>Contact Us</h4>
                        <p><i class="icon-map-marker"></i> Address: 4th St. 3rd Ave., Block D-5, Mactan Economic Zone 1 
						Lapu-Lapu City, Cebu Philippines 6015</p>
                        <p><i class="icon-phone"></i> Factory 1 Phone: (032) 340 0296</p>
                        <p><i class="icon-phone"></i> Factory 2 Phone: (032) 340 1580</p>
                        <p><i class="icon-envelope-alt"></i> IS Group Email: <a href="mailto:is@maple.muramoto.com">is@maple.muramoto.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span6">
                        <p>A JOINT IDEA OF ANGEL & TODS<br />Copyright &copy; 2014 IS Group - All Rights Reserved. Template by <a href="http://azmind.com" target="_blank">Azmind</a>.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

