
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>MAPLE - Muramoto Audio-Visual Philippines, Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/logo.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        
        <script type="text/javascript">
            function clearform()
            {
                window.alert("Successfully sent message to the IS Team");
                //document.getElementById("name").value=""; //don't forget to set the textbox ID
                //document.getElementById("message").value=""; //don't forget to set the textbox ID
               // document.getElementById("email").value=""; //don't forget to set the textbox ID
               // document.getElementById("subject").value=""; 
            }
        </script>
    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="index.phtml">Andia - a super cool design agency...</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="index.phtml"><i class="icon-home"></i><br />Home</a>
                                    </li>
                                    <li>
                                        <a href="about.phtml"><i class="icon-user"></i><br />About</a>
                                    </li>
                                    <li>
                                        <a href="portfolio.phtml"><i class="icon-camera"></i><br />Systems</a>
                                    </li>
                                    <li>
                                        <a href="links.phtml"><i class="icon-envelope-alt"></i><br />Links</a>
                                    </li>
                                    <li class="current-page">
                                        <a href="contact.phtml"><i class="icon-envelope-alt"></i><br />Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-envelope-alt page-title-icon"></i>
                        <h2>Contact Us /</h2>
                        <p>Here is how you can contact us</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">
                <div class="contact-form span7">
                    <h3>Need IS Assistance? <br />Please send us an email.</h3>
                    <form method="post" action="assets/sendmail.php" >
                        <label for="name" class="nameLabel">Name</label>
                          <input id="name" type="text" name="name" placeholder="Enter your name...">
                        <label for="email" class="emailLabel">Email</label>
                          <input id="email" type="text" name="email" placeholder="Enter your email...">
                        <label for="subject">Subject</label>
                          <input id="subject" type="text" name="subject" placeholder="Your subject...">
                        <label for="message" class="messageLabel">Message</label>
                          <textarea id="message" name="message" placeholder="Your message..."></textarea>
                        <button type="submit" onClick="clearform();" >Send</button>
                    </form>
                </div>
                <div class="contact-address span5">
                    <h4>We Are Here</h4>
                    <h4>Company Address</h4>
                        <p>4th St. 3rd Ave., Block D-5, <br/>Mactan Economic Zone 1 <br/>
						Lapu-Lapu City, <br/>Cebu Philippines 6015</p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="widget span5">
                        <h4>About Us</h4>
                        <p style="text-align:justify;">Muramoto Audio-Visual Philippines, Incorporated (MAPLE) is one of the manufacturing facilities
						of the Muramoto Group of Companies. Muramoto Group is trusted as the primary source of audio-visual
						mechanisms for automotives and general devices serving major Japanese, American, and European
						companies. Our Group operates in 10 countries in Asia, North America, and Europe employing more
						than 10,000 professionals.</p>
                    </div>
                    <div class="widget span1">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="widget span5">
                        <h4>Contact Us</h4>
                        <p><i class="icon-map-marker"></i> Address: 4th St. 3rd Ave., Block D-5, Mactan Economic Zone 1 
						Lapu-Lapu City, Cebu Philippines 6015</p>
                        <p><i class="icon-phone"></i> Factory 1 Phone: (032) 340 0296</p>
                        <p><i class="icon-phone"></i> Factory 2 Phone: (032) 340 1580</p>
                        <p><i class="icon-envelope-alt"></i> IS Group Email: <a href="mailto:is@maple.muramoto.com">is@maple.muramoto.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span6">
                        <p>A JOINT IDEA OF ANGEL & TODS<br />Copyright &copy; 2014 IS Group - All Rights Reserved. Template by <a href="http://azmind.com" target="_blank">Azmind</a>.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

