
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>MAPLE - Muramoto Audio-Visual Philippines, Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/logo.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="index.phtml"></a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="index.phtml"><i class="icon-home"></i><br />Home</a>
                                    </li>
                                    <li>
                                        <a href="about.phtml"><i class="icon-user"></i><br />About</a>
                                    </li>
                                    <li>
                                        <a href="portfolio.phtml"><i class="icon-camera"></i><br />Systems</a>
                                    </li>
                                    <li  class="current-page">
                                        <a href="links.phtml"><i class="icon-envelope-alt"></i><br />Links</a>
                                    </li>
                                    <li>
                                        <a href="contact.phtml"><i class="icon-envelope-alt"></i><br />Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-camera page-title-icon"></i>
                        <h2>Links /</h2>
                        <p>Here are the common links and sites each MAPLE employee can access</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="portfolio portfolio-page container">
            <div class="row">
                <div class="portfolio-navigator span12">
                    <h4 class="filter-portfolio">
                        <a class="all" id="active-imgs" href="#">All</a> &emsp;-&emsp;
                        <a class="dbs" id="" href="#">DATABASES</a>&emsp;-&emsp;
                        <a class="wps" id="" href="#">WEBPAGES</a><!--&emsp;-&emsp;
                        <a class="p1web04" id="" href="#">P1WEB04</a>&emsp;-&emsp;
			<a class="p1web05" id="" href="#">P1WEB05</a> -->
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="portfolio-img">
                    <li data-id="p-1" data-type="dbs" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/forms/index_forms.php" target="_blank">
                                <img src="assets/img/links/isform.jpg" alt="">
                            </a>
                            <h4>IS FORMS</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-2" data-type="p1web04" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/gen/index_gen.php" target="_blank">
                                <img src="assets/img/links/gaform.jpg" alt="">
                            </a>
                            <h4>Common Forms</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-3" data-type="p1web04" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/mehs/index_mehs.php" target="_blank">
                                <img src="assets/img/links/ehs.jpg" alt="">
                            </a>
                            <h4>MEHS</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-4" data-type="p1web03" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/fa/index_fa.php" target="_blank">
                                <img src="assets/img/links/banks.jpg" alt="">
                            </a>
                            <h4>BANKS</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-5" data-type="p1web03" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/forwarders/index_forwarders.php" target="_blank">
                                <img src="assets/img/links/freights.jpg" alt="">
                            </a>
                            <h4>FREIGHTS</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-6" data-type="p1web02" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/gov/index_gov.php" target="_blank">
                                <img src="assets/img/links/gov.jpg" alt="">
                            </a>
                            <h4>Government</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-7" data-type="p1web02" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/others/index_others.php" target="_blank">
                                <img src="assets/img/links/affiliates.jpg" alt="">
                            </a>
                            <h4>OTHER AFFILIATES</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-8" data-type="p1web02" class="span3">
                        <div class="work">
                            <a href="http://p1web04.muramoto-ph.local/www/fixedasset/index_fixedasset.php" target="_blank">
                                <img src="assets/img/links/fxa.jpg" alt="">
                            </a>
                            <h4>FXA</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-9" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://www/OHS/ASIA-OSH/indexph.htm" target="_blank">
                                <img src="assets/img/links/ohs.jpg" alt="">
                            </a>
                            <h4>OHS Standards</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-10" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://www.oanda.com/currency/converter/" target="_blank">
                                <img src="assets/img/links/curr.jpg" alt="">
                            </a>
                            <h4>Currency Converter</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-11" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1mail.muramoto-ph.local/maple_emaillist/" target="_blank">
                                <img src="assets/img/links/group.jpg" alt="">
                            </a>
                            <h4>Group Mail List</h4>
                            <p></p>
                        </div>
                    </li>
                    <li data-id="p-13" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1mail.muramoto-ph.local/web-mail/src/login.php" target="_blank">
                                <img src="assets/img/links/smail.jpg" alt="">
                            </a>
                            <h4>Squirrel Mail</h4>
                            <p></p>
                        </div>
                    </li>
                    <!-- <li data-id="p-14" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1web05/EIS/security/login" target="_blank">
                                <img src="assets/img/portfolio/eis.jpg" alt="">
                            </a>
                            <h4>Equipment Inventory System</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                    </li>
					<li data-id="p-15" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1web05/MPSMIC/Security/Login/login/" target="_blank">
                                <img src="assets/img/portfolio/mic.jpg" alt="">
                            </a>
                            <h4>MIC Production System</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                    </li>
					<li data-id="p-16" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1web05/E-survey/security/login" target="_blank">
                                <img src="assets/img/portfolio/esurvey.jpg" alt="">
                            </a>
                            <h4>MAPLE E-Survey</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                    </li>
					<li data-id="p-17" data-type="p1web05" class="span3">
                        <div class="work">
                            <a href="http://p1web03/MNG/Security/login" target="_blank">
                                <img src="assets/img/portfolio/mng.jpg" alt="">
                            </a>
                            <h4>NG Return Monitoring System</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="widget span5">
                        <h4>About Us</h4>
                        <p style="text-align:justify;">Muramoto Audio-Visual Philippines, Incorporated (MAPLE) is one of the manufacturing facilities
						of the Muramoto Group of Companies. Muramoto Group is trusted as the primary source of audio-visual
						mechanisms for automotives and general devices serving major Japanese, American, and European
						companies. Our Group operates in 10 countries in Asia, North America, and Europe employing more
						than 10,000 professionals.</p>
                    </div>
                    <div class="widget span1">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="widget span5">
                        <h4>Contact Us</h4>
                        <p><i class="icon-map-marker"></i> Address: 4th St. 3rd Ave., Block D-5, Mactan Economic Zone 1 
						Lapu-Lapu City, Cebu Philippines 6015</p>
                        <p><i class="icon-phone"></i> Factory 1 Phone: (032) 340 0296</p>
                        <p><i class="icon-phone"></i> Factory 2 Phone: (032) 340 1580</p>
                        <p><i class="icon-envelope-alt"></i> IS Group Email: <a href="mailto:is@maple.muramoto.com">is@maple.muramoto.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span6">
                        <p>A JOINT IDEA OF ANGEL & TODS<br />Copyright &copy; 2014 IS Group - All Rights Reserved. Template by <a href="http://azmind.com" target="_blank">Azmind</a>.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

